html{
    min-height: 100%;
    position: relative;
}
body{
    margin-top: 105px;
    background-color: #EEEEEE;
}
/**************** HEADER *****************/
.nav__bg{
    background-color: #017AD5;
}

/**************************************************************/

.seccion__titulo {
    color: #ffffff;
    text-align: center;
    /* font-size: 2rem;
    margin: 1rem; */
    text-shadow: 1px 1px 4px rgb(0, 0, 0, 75%);
    border-bottom: 2px groove rgb(0, 0, 0)
}

/* PRODUCTOS */

.prod__article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    min-height: 390px;
    border-radius: 5px;
    box-shadow: 2px 2px 7px rgb(1, 122, 213);
    transition: 0.12s;
}
.prod__article:hover {
    transform: scale(1.05);
}

.prod__img {
    display: block;
    margin: auto;
    padding: auto;
    width: 150px;
    height: 150px;
}

.prod__titulo {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 5px;
}

.prod__precio {
    text-align: center;
    font-size: 1.2rem;
}

.btn__comprar {
    display: block;
    padding: 8px 15px;
    background-color: #017AD5;
    color: #ffffff;
    border-style: outset;
    border-width: 2px;
    border-radius: 12px;
    font-size: 1rem;
    font-weight: bold;
    transition-duration: 0.4s;
}

.btn__comprar:hover {
    background-color: #ffffff;
    color: #017AD5;
}

/* -------------------------------------------- */

/* Carrusel */

.carrusel__img{
    min-width: 150px;
    width:150px;
    object-fit: contain;
    filter: grayscale(100%) opacity(60%);
    transition: all (1s);
}

.carrusel__img:hover{
    filter: grayscale(0) opacity(100%);;
    transform: scale(1.2);
}

/* ---------------------------------------- */
/* IMG */

.redes__img {
    height: 40px;
    width: 40px;
}

.footer__img{
    width: 80px;
    height: 110px;
}

/****************** MEDIA QUERYS ******************/

@media screen and (max-width: 992px) {
    body{
        margin-top: 60px;
    }
    
}

@media screen and (max-width: 768px ){

    .carrusel__img{
        padding: 2%;
        min-width: 80px;
        width:80px;
        object-fit: contain;
    }
}

