/* Carrusel */

.carrusel__img {
    min-width: 150px;
    width: 150px;
    object-fit: contain;
    filter: grayscale(100%) opacity(60%);
    transition: all (0.2s);

    &:hover {
        filter: grayscale(0) opacity(100%);
        ;
        transform: scale(1.2);
    }
}