.form__contacto{
    @include contenedor__form(800px, 500px);
}

.form__login{
    @include contenedor__form(800px, 400px);
    height: 200px
}
.form__registro{
    @include contenedor__form(800px, 500px);
}
.form__select{
    width: 96.5%;
    padding: 1rem 0.75rem;
}

.boton {
    width: 180px;
    margin-top: 20px;
    padding: 5px 15px;
    background-color: #017AD5;
    color: #ffffff;
    border-radius: 7px;
    border-style: none;
    font-size: 16px;
    font-weight: bold;
    transition-duration: 0.5s;

    &:hover{
        background-color: #ffffff;
        border-color: aqua;
        color: #017AD5;
        box-shadow: map-get($shadows , box-s );
    }
}
