body {
    margin-top: 130px;
    background-color: #EEEEEE;
    font-family: 'Rubik', sans-serif;
}

// Maps
$shadows:(box-s: 1px 3px 7px $celeste,
    text-s : 1px 1px 4px rgb(0, 0, 0, 50%));


// EXTEND
.titleBase {
    color: #ffffff;
    text-shadow: map-get($shadows, text-s);
    border-bottom: 4px groove rgb(0, 0, 0);
}

.btnHover {
    background-color: #E7F0FE;
    color: $celeste;
    border-color: #afb0b0;
}

// MIXIN
@mixin botonBase ($colorBg) {
    display: block;
    padding: 5px 10px;
    background-color: $colorBg;
    border-color: $colorBg;
    color: #ffffff;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 400;
    transition-duration: 0.2s;
}

@mixin contenedor__form ($max-w , $min-h ){
    max-width: $max-w;
    min-height: $min-h;
    box-shadow: map-get($shadows , text-s );
    background-color: $celeste_claro;
}


/****************** MEDIA QUERYS ******************/

@media screen and (max-width: 992px) {
    body {
        margin-top: 70px;
    }

}

@media screen and (max-width: 768px) {

    .carrusel__img {
        padding: 2%;
        min-width: 80px;
        width: 80px;
        object-fit: contain;
    }
}