.seccion__titulo {
    @extend .titleBase;
    font-size: 26px;
}


/* PRODUCTOS */


.prod {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    min-height: 390px;
    border-radius: 5px;
    box-shadow: map-get($shadows, box-s);
    transition: 0.1s;

    &:hover {
        transform: scale(1.03);
    }

    &__img {
        display: block;
        margin: auto;
        padding: auto;
        width: 150px;
        height: 150px;
    }

    &__titulo {
        text-align: center;
        text-shadow: map-get($shadows, text-s);
        font-size: 1.5rem;
        font-weight: 600;
        padding: 5px;
    }

    &__precio {
        text-align: center;
        text-shadow: map-get($shadows, text-s);
        font-size: 1.2rem;
    }

    &__botones {
        display: flex;

    }
}



.btn__comprar {

    @include botonBase($celeste);

    &:hover {
        @extend .btnHover;
    }
}

.btn__car {
    @include botonBase ($verde);

    &:hover {
        @extend .btnHover;
    }
}